<html>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Login</h2>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= form_for :session, url: '/login' do |form| %>
          <% if flash[:alert] %>
            <div class="alert alert-danger">
              <%= flash[:alert] %>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password_digest, class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%=  submit_tag("Login") %>
          </div>
          <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
    </div>
  </body>
</html>